:root {
    --color-primary: #4B69FD;
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #444444;
    --color-white: #FFFFFF;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    width: 100%;
    background-color: #FFFF00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 40px;
}

/* Banner */
.header-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10%;
    width: 100%;
}

/* Seção de entrada */
.input-section {
    background-image: url('assets/fundo-do-mar-4.jpg');
    border: 1px solid #000;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: auto;
}

/* Títulos */
.main-title {
    font-size: 3.75rem;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: #ffa096;
    -webkit-text-stroke: 2px #fc6757;
    text-shadow: 3px 3px 5px black;
}

.section-title {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #FFFF00;
    font-weight: 900;
    text-shadow: 6px 3px 4px #000000;
    -webkit-text-stroke: 2px rgb(73, 117, 55);
    margin: 10px 0;
    text-align: center;
}

/* Contêineres de entrada e botão */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
    outline: 0;
}

.button-container {
    width: 300px;
    justify-content: center;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botão */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color:#FFFF00;
    color: #000000;
    border-radius: 0 25px 25px 0;
    border: 1px solid rgb(73, 117, 55);
}

.button-add:hover {
    background-color: #ffa096;
    border: 1px solid #fc6757;
}

/* Listas */
ul {
    list-style-type: none;
    color: #FFFF00;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    -webkit-text-stroke: 1px rgb(73, 117, 55);
    font-weight:900;
    font-size: 20px;
    border-radius: 20px;
}

.result-list {
    color: #ffa096;
    -webkit-text-stroke: 1px #fc6757;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* Botão de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: #000;
    font-weight:bolder;
    background-color: #ffa096;
    font-size: 16px;
    margin-top: 10px;
    border: 1px solid #fc6757;
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color: #FFFF00;
    border: 1px solid rgb(73, 117, 55);
}

#image__play {
    width: 40px;
}

@media (max-width:800px) {
    .main-content {
        height: auto;
        gap: 0px;
    }
    .header-banner {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 30px;
    }
    #imagem__bob__patrick {
        width: 70%;
        margin-bottom: 20px;
    }
    .main-title {
        width: 100%;
        font-size: 3rem;
        margin-top: 30px;
    }
    .input-section {
        margin-top: 30px;
    }
}
